@font-face {
    font-family: "Lobster";
    src: url("/fonts/Lobster.otf");
}

body {
    color: #4a4a4a;
}

input.form-control.search-bar {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 80%;
    float: left;
}
.form-control-feedback {
    float: right;
    z-index: 2;
    display: inline-block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
form.span.span-search{
    border: 1px solid black;
}
div.color-brand {
    color: #FF4343;
}
a.color-brand {
    color: #FF4343;
}
a.navbar-brand.color-brand{
    color: #FF4343;
}
.center-content {
    padding-top: 40px;
    text-align : center;
    margin-left : auto !important ;
}
.btn-nyeletuk {
    background-color: #FF4343;
    color: #ffffff;
    width: 20%;
}
.container.fieldset-posting{
    border: 1px solid #FF4343;
    border-top-style: solid;
    width: 35%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.terselesaikan{
    margin-left:480px;
    position:absolute;
    z-index: 1;
    background-color: #44c044;
    border-radius: 3px;
    padding: 4px 10px 4px 10px;
    color: white;
}

.cardpost{
    width:100%;
    margin-top:14px;
    border:1px solid grey;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
}

.cardpost .namepost{
    font-family: calibri;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;

}

.cardpost .statuspost{
    font-family: calibri;
    font-size: 20px;
    margin-left: 10px;
}

.cardpost .setujuiket{
    font-family: calibri;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.cardpost .komentarket{
    font-family: calibri;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.button-post{
    color:grey;
    font-size: 30px;
}

.lbl .lbl-btn{
    font-size: 20px;
    margin-top: 3px;
    background-color: white;
    border: none;
    padding: 0px 10px 0px 10px;
    cursor: pointer;

}
.fs-16-bold{
    font-size: 16pt;
    font-weight: bold;
}

.form-dropdown {
        display: block;
        width: 30%;
        height: 10%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 1rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}