@font-face {
    font-family: "Lobster";
    src: url("/fonts/Lobster.otf");
}

body {
    color: #4a4a4a;
    font-family: Nunito\ Sans,Helvetica,Arial,sans-serif;
}

.form-control::-webkit-input-placeholder {
    color: #868e96;
}
.form-control:-moz-placeholder {
    color: #868e96;
}
.form-control::-moz-placeholder {
    color: #868e96;
}
.form-control:-ms-input-placeholder {
    color: #868e96;
}
.form-control::-ms-input-placeholder {
    color: #868e96;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.bg-budayaku {
    background-color: #f55c60;
}

.color-budayaku {
    /* color: #f54f53; */
    color : #4a4a4a;
}

.section-heading {
    font-size: 29px;
    line-height: 35px;
}

.red-divider {
    width: 70px;
    height: 5px;
    background-color: #f55c60;
    margin: 0 auto;
    margin-top: 12p
}

.brand-budayaku {
    font-family: "Lobster";
    font-size: 1.6rem;
}

.brand-lg {
    font-size: 3rem;
}

.navbar {
    padding: .9rem 1rem;
}

.w-250 {
    min-width: 400px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.no-border {
    border:none;
}

.heading-project h3{
    font-weight: 700;
    font-size: 17px;
    white-space: normal;
    line-height: 20px;
    overflow: hidden;
}
.card-img-top:hover{
    opacity: .9;
}

.card__desc {
    color: #343a40;
    font-size: 14px;
    margin-bottom: 1.5px;
}
.card__price {
    font-weight: 600;
    color: #d71149;
}

#budayaku__desc {
    color: #ffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

#supported {
    margin-top: 3em;
    margin-bottom: 5px;
    text-align: center;
}

.budayaku-desc{
    font-size:18px;
}

#footer {
    background-color: #3f3f3f;
    color: #ffff;
}

.heading-footer {
    font-family: "Lobster";
}
.social-footer {
    font-size: 28px;
    margin-right: 10px;
}
.sosmed-button a {
    color: #ffffff;
}

.sosmed-button a:hover {
    color: #f55c60;
}

.learn-more {
    list-style: none;
    line-height: 30px;
}

.learn-more a{
    color: #ffff;
}
.rating {
    font-size: 16pt;
    color: #f55c60;
}
@media screen and (max-width: 700px) {
    #footer {
        text-align: center!important;
    }
}

.form-input-tanggal {
    display: block;
    width: 40%;
    height: calc(2rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-book {
    width: 20%;
    height: calc(2rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    color: white;
    border-radius: 1rem;
    margin-right: 4rem;
    background-color: #f55c60;
}
.btn-chat {
    width: 20%;
    height: calc(2rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    color: white;
    border-radius: 1rem;
    margin-right: 4rem;
    background-color: #1c58ff;
 }
.color-budayaku {
    color: #f55c60;
}
.form-header {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f7f5f5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #f55c60;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-pembayaran {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top: 0px;
    border-color: #f55c60;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }   
  .font-sk {
      font-size: 0.6rem;
  }
  
  
 

